{% extends 'main/layoyt.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}

    <div class="hexagon-wrapper">

        <div class="hexagon">
            <a href="https://github.com/vffv2000" target="_blank">
                <i class="bi bi-github" ></i>
            </a>
        </div>
    </div>



    <div class="hexagon-wrapper">
        <div class="hexagon">
            <a href="https://www.instagram.com/valentin_vffv2000/" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
        </div>
    </div>



    <div class="hexagon-wrapper">
        <div class="hexagon">
            <a href="https://web.telegram.org/k/#@vffv2000" target="_blank">
                <i class="bi bi-telegram"></i>
            </a>
        </div>
    </div>


{% endblock %}

